@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Kayıt Onay";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
   Email doğrulama entegre edilmedi.
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Hesabınızı aktif etmek için tıklayın.</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

